@model PagedList.IPagedList<ProyectoLojackABM.Models.Usuario>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Index</h2>

<p>
    @if (ViewBag.filtro == true)
    {
        @Html.ActionLink("Quitar Filtro", "Index")
    }
    else
    {
        @Html.ActionLink("Agregar Nuevo", "Create")
    }
</p>
<table>
    <tr>
        <th>
            @Html.ActionLink("ID", "Index", new { Order = 0, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("CLIENTE", "Index", new { Order = 1, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("USUARIO", "Index", new { Order = 2, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("NOMBRE", "Index", new { Order = 3, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("APELLIDO", "Index", new { Order = 4, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Sector", "Index", new { Order = 5, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("PASSWORD", "Index", new { Order = 6, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("OPERADOR", "Index", new { Order = 7, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("O. SEGURIDAD", "Index", new { Order = 8, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("SUPERVISOR", "Index", new { Order = 9, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("EMAIL", "Index", new { Order = 10, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("NIVEL AUDITORIA", "Index", new { Order = 11, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("PERFIL WINDOWS", "Index", new { Order = 12, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>
            @Html.ActionLink("PERFIL WEB", "Index", new { Order = 13, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("MULTI-PAIS", "Index", new { Order = 14, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("DEMO", "Index", new { Order = 15, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("DIAS DEMO", "Index", new { Order = 16, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("CUENTA", "Index", new { Order = 17, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userLogin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sector.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.operador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.operadorSeguridad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.supervisor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaBaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioBaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nivelAuditoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.perfilWindows)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.perfilWeb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.multipais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.demo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diasDemo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idUsuario }) |
            @Html.ActionLink("Details", "Details", new { id = item.idUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idUsuario })
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))