@model PagedList.IPagedList<ProyectoLojackABM.Models.NivelServicio>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "NivelServicio";
}

<h2>Nivel Servicio</h2>

<p>
    @Html.ActionLink("Agregar nuevo", "Create")
</p>

@using (Html.BeginForm("Index", "NivelServicio", FormMethod.Get))
{
    <p>Buscar por descripción: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Buscar" />
    </p>
}

<table>
    <tr>
        <th>
            @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IDSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
        <th>
            @Html.ActionLink("Descripción", "Index", new { sortOrder = ViewBag.DescriptionSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
        <th>
            @Html.ActionLink("Fecha Alta", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
        <th>
            @Html.DisplayName("ID Usuario Alta")
        </th>
        <th></th>
        <th>
            @Html.DisplayName("Fecha Baja")
        </th>
        <th></th>
        <th>
            @Html.DisplayName("ID Usuario Baja")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idNivelServicio)
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaAlta)
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioAlta)
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaBaja)
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioBaja)
        </td>
        <td></td>
        <td>
            @if (item.usuarioBaja == null && item.fechaBaja == null)
            {
                @Html.ActionLink("Editar", "Edit", new { id=item.idNivelServicio })
                @Html.Name("|")
                @Html.ActionLink("Eliminar", "Delete", new { id=item.idNivelServicio })   
            }
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


