@model ProyectoLojackABM.Models.NivelServicioModel

@{
    ViewBag.Title = "Index";
}

<h2>Nivel Servicio</h2>

@using (Html.BeginForm("SaveDataNivelServicio", "NivelServicio", new { @id = "Form" }, FormMethod.Post))
{
    @Html.ValidationSummary();
    @Html.AntiForgeryToken();

    // 1
    @Html.LabelFor(m => m.idNivelServicio)
    @Html.TextBoxFor(m => m.idNivelServicio)

    // 2
    @Html.LabelFor(m => m.descripcion)
    @Html.TextBoxFor(m => m.descripcion)
    
    // 3
    @Html.LabelFor(m => m.fechaAlta)
    @Html.TextBoxFor(m => m.fechaAlta)
    
    // 4
    @Html.LabelFor(m => m.usuarioAlta)
    @Html.TextBoxFor(m => m.usuarioAlta)
    
    // 5
    @Html.LabelFor(m => m.fechaBaja)
    @Html.TextBoxFor(m => m.fechaBaja)
    
    // 6
    @Html.LabelFor(m => m.usuarioBaja)
    @Html.TextBoxFor(m => m.usuarioBaja)

    <input type="submit" value="Save" name="Save" />
}
