@model ProyectoLojackABM.Models.Equipo

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Equipo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idEquipo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idEquipo)
            @Html.ValidationMessageFor(model => model.idEquipo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.identificador)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.identificador)
            @Html.ValidationMessageFor(model => model.identificador)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nroSerie)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nroSerie)
            @Html.ValidationMessageFor(model => model.nroSerie)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.primario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.primario)
            @Html.ValidationMessageFor(model => model.primario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idEquipoTipo, "EquipoTipo")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idEquipoTipo", String.Empty)
            @Html.ValidationMessageFor(model => model.idEquipoTipo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cadencia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cadencia)
            @Html.ValidationMessageFor(model => model.cadencia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechaAlta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaAlta)
            @Html.ValidationMessageFor(model => model.fechaAlta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.usuarioAlta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.usuarioAlta)
            @Html.ValidationMessageFor(model => model.usuarioAlta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.versionFirmware)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.versionFirmware)
            @Html.ValidationMessageFor(model => model.versionFirmware)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.versionProgramacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.versionProgramacion)
            @Html.ValidationMessageFor(model => model.versionProgramacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechaModificacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaModificacion)
            @Html.ValidationMessageFor(model => model.fechaModificacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.usuarioModificacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.usuarioModificacion)
            @Html.ValidationMessageFor(model => model.usuarioModificacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechaBaja)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaBaja)
            @Html.ValidationMessageFor(model => model.fechaBaja)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.usuarioBaja)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.usuarioBaja)
            @Html.ValidationMessageFor(model => model.usuarioBaja)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.estadoSd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.estadoSd)
            @Html.ValidationMessageFor(model => model.estadoSd)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idCuenta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idCuenta)
            @Html.ValidationMessageFor(model => model.idCuenta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.portable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.portable)
            @Html.ValidationMessageFor(model => model.portable)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
