@model PagedList.IPagedList<ProyectoLojackABM.Models.Equipo>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Equipo";
}

<h2>Equipo Tipo</h2>

<p>
    @Html.ActionLink("Agregar nuevo", "Create")
</p>

@using (Html.BeginForm("Index", "Equipo", FormMethod.Get))
{
    <p>
        Buscar por identificador: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Buscar" />
    </p>
}

<table>
    <tr>
        <th>
            @Html.DisplayName("ID")
        </th>
        <th>
            @Html.DisplayName("Identificador")
        </th>
        <th>
            @Html.DisplayName("Nro Serie")
        </th>
        <th>
            @Html.DisplayName("Primario")
        </th>
        <th>
            @Html.DisplayName("Equipo Tipo")
        </th>
        <th>
            @Html.DisplayName("Cadencia")
        </th>
        <th>
            @Html.DisplayName("Fecha Alta")
        </th>
        <th>
            @Html.DisplayName("ID Usuario Alta")
        </th>
        <th>
            @Html.DisplayName("Versión Firmware")
        </th>
        <th>
            @Html.DisplayName("Versión Programación")
        </th>
        <th>
            @Html.DisplayName("Fecha Modificación")
        </th>
        <th>
            @Html.DisplayName("ID Usuario Modificación")
        </th>
        <th>
            @Html.DisplayName("Fecha Baja")
        </th>
        <th>
            @Html.DisplayName("ID Usuario Baja")
        </th>
        <th>
            @Html.DisplayName("Estado SD")
        </th>
        <th>
            @Html.DisplayName("Cuenta")
        </th>
        <th>
            @Html.DisplayName("Portable")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idEquipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.identificador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nroSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.primario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipoTipo.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cadencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.versionFirmware)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.versionProgramacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaBaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioBaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estadoSd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.portable)
        </td>
        <td>
            @if (item.usuarioBaja == null && item.fechaBaja == null)
            {
                @Html.ActionLink("Editar", "Edit", new { id = item.idEquipoTipo })
                @Html.Name("|")
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idEquipoTipo })
            }
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))