@model IEnumerable<ProyectoLojackABM.Models.Equipo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idEquipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.identificador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nroSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.primario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipoTipo.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cadencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaAlta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarioAlta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.versionFirmware)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.versionProgramacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarioModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaBaja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarioBaja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estadoSd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.portable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idEquipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.identificador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nroSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.primario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipoTipo.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cadencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.versionFirmware)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.versionProgramacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaBaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioBaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estadoSd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idCuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.portable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
