@model ProyectoLojackABM.Models.Cuenta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Cuenta</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idCuenta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idCuenta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cliente.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cliente.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mapGuideEnabled)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mapGuideEnabled)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.googleMapsEnabled)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.googleMapsEnabled)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mapsEnabled)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mapsEnabled)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
