@model ProyectoLojackABM.Models.Cuenta

@{
    ViewBag.Title = "Edit";
}

<div class="content-wrapper">
    <h2>Cuenta - Modificación</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Cuenta</legend>

            <table>
                <tr>
                    <td><text><font size="3"><b>@Html.LabelFor(model => model.idCuenta)</b></font></text></td>
                    <td><text><font size="3">@Model.idCuenta</font></text></td>
                </tr>

                <tr>
                    <td><text><font size="3"><b>@Html.LabelFor(model => model.nombre)</b></font></text></td>
                    <td>
                        @Html.EditorFor(model => model.nombre)
                        @Html.ValidationMessageFor(model => model.nombre)
                    </td>
                </tr>

                <tr>
                    <td><text><font size="3"><b>@Html.LabelFor(model => model.Cliente)</b></font></text></td>
                    <td>
                        @Html.DropDownList("idClienteControlador", String.Empty)
                        @Html.ValidationMessageFor(model => model.idClienteControlador)
                    </td>
                </tr>

                <tr>
                    <td><text><font size="3"><b>@Html.LabelFor(model => model.mapGuideEnabled)</b></font></text></td>
                    <td>
                        @Html.EditorFor(model => model.mapGuideEnabled)
                        @Html.ValidationMessageFor(model => model.mapGuideEnabled)
                    </td>
                </tr>

                <tr>
                    <td><text><font size="3"><b>@Html.LabelFor(model => model.googleMapsEnabled)</b></font></text></td>
                    <td>                       
                        @Html.EditorFor(model => model.googleMapsEnabled)
                        @Html.ValidationMessageFor(model => model.googleMapsEnabled)
                    </td>
                </tr>

                <tr>
                    <td><text><font size="3"><b>@Html.LabelFor(model => model.mapsEnabled)</b></font></text></td>
                    <td>
                        @Html.EditorFor(model => model.mapsEnabled)
                        @Html.ValidationMessageFor(model => model.mapsEnabled)
                    </td>
                </tr>
              </table>
                <p>
                    <input type="submit" value="Guardar" />
                </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Volver a la lista", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
