@model PagedList.IPagedList<ProyectoLojackABM.Models.Cuenta>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Cuentas";
}

<h2>Index</h2>
<p>
    @if (ViewBag.filtro == true)
    {
        @Html.ActionLink("Quitar Filtro", "Index")
    }
    else
    {
        @Html.ActionLink("Agregar Nuevo", "Create")
    }
</p>


@using (Html.BeginForm("Index", "Cuenta", FormMethod.Get))
{
    <p>
        Buscar por identificador: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Buscar" />
    </p>
}

<table>
    <tr>
        <th>
            @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IDSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("NOMBRE", "Index", new { sortOrder = ViewBag.IDSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayName("CLIENTE")
        </th>
        <th>
            @Html.DisplayName("MAP GUIDE")
        </th>
        <th>
            @Html.DisplayName("GOOGLE MAPS")
        </th>
        <th>
            @Html.DisplayName("MAPS")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idCuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mapGuideEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.googleMapsEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mapsEnabled)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idCuenta }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.idCuenta })
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))