@model PagedList.IPagedList<ProyectoLojackABM.Models.EquipoTipo>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "EquipoTipo";
}

<div class="content-wrapper">
    <h2>Equipo Tipo</h2>

    <p>
        @Html.ActionLink("Agregar nuevo", "Create")
    </p>

    @using (Html.BeginForm("Index", "EquipoTipo", FormMethod.Get))
    {
        <p>
            Buscar por descripción: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Buscar" />
        </p>
    }

    <table>
        <tr>
            <th>
                @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IDSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Descripción", "Index", new { sortOrder = ViewBag.DescriptionSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Nº Sensores", "Index", new { sortOrder = ViewBag.SensoresSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
            <th>
                @Html.ActionLink("Fecha Alta", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.DisplayName("ID Usuario Alta")
            </th>
            <th></th>
            <th>
                @Html.DisplayName("Fecha Baja")
            </th>
            <th></th>
            <th>
                @Html.DisplayName("ID Usuario Baja")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idEquipoTipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantSensores)
                </td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaAlta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuarioAlta)
                </td>
                <td></td>
                <td>
                    @if (item.fechaBaja == null)
                    {
                        @Html.DisplayName("-")
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.fechaBaja)
                    }
                </td>
                <td></td>
                <td>
                    @if (item.usuarioBaja == null)
                    {
                        @Html.DisplayName("-")
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.usuarioBaja)
                    }
                </td>
                <td></td>
                <td>
                    @if (item.usuarioBaja == null && item.fechaBaja == null)
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = item.idEquipoTipo })
                        @Html.Name("|")
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.idEquipoTipo })
                    }
                </td>
            </tr>
        }

    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

<div class="content-wrapper">
    <a class="bottomNav" onclick="history.go(-1); return false;" href="#"><-- Volver a inicio</a><br />
</div>
