@model IEnumerable<ProyectoLojackABM.Models.EquipoTipo>

@{
    ViewBag.Title = "Index";
}

<h2>Equipo Tipo</h2>

<p>
    @Html.ActionLink("Agregar nuevo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayName("ID")
        </th>
        <th>
            @Html.DisplayName("Descripción")
        </th>
        <th>
            @Html.DisplayName("Nº Sensores")
        </th>
        <th></th>
        <th>
            @Html.DisplayName("Fecha Alta")
        </th>
        <th>
            @Html.DisplayName("ID Usuario Alta")
        </th>
        <th></th>
        <th>
            @Html.DisplayName("Fecha Baja")
        </th>
        <th></th>
        <th>
            @Html.DisplayName("ID Usuario Baja")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idEquipoTipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantSensores)
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioAlta)
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaBaja)
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioBaja)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idEquipoTipo }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idEquipoTipo })
        </td>
    </tr>
}

</table>
