@model ProyectoLojackABM.Models.Entidad

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Entidad</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idEntidad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idEntidad)
            @Html.ValidationMessageFor(model => model.idEntidad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.estado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.estado)
            @Html.ValidationMessageFor(model => model.estado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idNivelServicio, "NivelServicio")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idNivelServicio", String.Empty)
            @Html.ValidationMessageFor(model => model.idNivelServicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.plantillaSuceso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.plantillaSuceso)
            @Html.ValidationMessageFor(model => model.plantillaSuceso)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cadenciaReporte)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cadenciaReporte)
            @Html.ValidationMessageFor(model => model.cadenciaReporte)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechaAlta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaAlta)
            @Html.ValidationMessageFor(model => model.fechaAlta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.usuarioAlta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.usuarioAlta)
            @Html.ValidationMessageFor(model => model.usuarioAlta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechaModificacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaModificacion)
            @Html.ValidationMessageFor(model => model.fechaModificacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.usuarioModificacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.usuarioModificacion)
            @Html.ValidationMessageFor(model => model.usuarioModificacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechaBaja)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaBaja)
            @Html.ValidationMessageFor(model => model.fechaBaja)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.usuarioBaja)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.usuarioBaja)
            @Html.ValidationMessageFor(model => model.usuarioBaja)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.comentario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.comentario)
            @Html.ValidationMessageFor(model => model.comentario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.telefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telefono)
            @Html.ValidationMessageFor(model => model.telefono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idProcedimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idProcedimiento)
            @Html.ValidationMessageFor(model => model.idProcedimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idCuenta, "Cuenta")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idCuenta", String.Empty)
            @Html.ValidationMessageFor(model => model.idCuenta)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
