@model PagedList.IPagedList<ProyectoLojackABM.Models.Cliente>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Clientes";
}

<h2>Index</h2>

<p>
    @if (ViewBag.filtro == true)
    {
        @Html.ActionLink("Quitar Filtro", "Index")
    }
    else
    {
        @Html.ActionLink("Agregar Nuevo", "Create")
    }
</p>

@using (Html.BeginForm("Index", "Cliente", FormMethod.Get))
{
    <p>
        Buscar por identificador: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Buscar" />
    </p>
}
<table>
    <tr>
        <th>
            @Html.ActionLink("ID", "Index", new { Order = 0, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("NOMBRE", "Index", new { Order = 1, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("DIRECCION", "Index", new { Order = 2, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("TELEFONO", "Index", new { Order = 3, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("LOCALIDAD", "Index", new { Order = 4, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("PARTIDO", "Index", new { Order = 5, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("PROVINCIA", "Index", new { Order = 6, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("CUIT", "Index", new { Order = 7, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("EMAIL", "Index", new { Order = 8, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("FAX", "Index", new { Order = 9, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("INHABILITADO", "Index", new { Order = 10, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("PAIS", "Index", new { Order = 11, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("CUENTA", "Index", new { Order = 12, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("VISTA INTERNO", "Index", new { Order = 13, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.localidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.partido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cuit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inhabilitado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idPais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vistaInternoDesvios)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idCliente }) |
            @Html.ActionLink("Details", "Details", new { id = item.idCliente }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idCliente })
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))