@model ProyectoLojackABM.Models.Sector

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Sector</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idSector)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idSector)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechaAlta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaAlta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.usuarioAlta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.usuarioAlta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechaBaja)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaBaja)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.usuarioBaja)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.usuarioBaja)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cuenta.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cuenta.nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
