@model PagedList.IPagedList<ProyectoLojackABM.Models.Sector>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Sectores";
}

<h2>Index</h2>

@if (ViewBag.filtro == true)
{
    <p>
        @Html.ActionLink("Quitar Filtro", "Index")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Agregar Nuevo", "Create")
    </p>
}


@using (Html.BeginForm("Index", "Sector", FormMethod.Get))
{
    <p>
        Buscar por identificador: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Buscar" />
    </p>
}

<table>
    <tr>
        <th>
            @Html.ActionLink("ID", "Index", new { Order = 0, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("NOMBRE", "Index", new { Order = 1, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("CUENTA", "Index", new { Order = 2, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idSector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idSector }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.idSector })
        </td>
    </tr>
}
</table>

<br/>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))